@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  background: url("../img/dark-grungewall.png");
}

/*Navigation Bar*/
nav{
    background: rgba(84,84,84,1);
    width: 42%;
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    
    position: fixed;
    z-index: 1;
}

/*Navigation List*/
nav li {
    list-style: none;
    display: inline-flex;
        
}

/*Navigation Animations*/
nav a:link,
nav a:visited{
    color: #e27827;
    text-decoration: none;
    transition: color .25s;
    
}
nav a:hover{
    color: #4bc3bf;
    transition: color .25s;
}

/*Gallery*/
gallery {
    display: flex;
    flex-flow: row wrap;
}

/*Gallery Boxes*/
figure{
    background: #e27827;
    padding: 1em;
    flex: 1 0 80%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

/*Overlay                                          Help  */
.overlay {
    display: none;
    
/*Overlay Style*/
    background: rgba(226, 120, 39, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*Overlay Show                                     Not Done */
.overlay:target {
    display: block;
    
    display: flex;
    position: fixed;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

/*Overlay Close Button                             Not Done */
.overlay a {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-size: 2em;
}

/*Section Styling*/
section {
    background: #DBDBDB;
    margin: 0 auto;
    width: 50%;
    border: .5em solid #e27827;
    padding: 1em;
    
    position: relative;
}

section img {
    float: right;
    width: 50%;
    margin: 1em;
}

/*Section Elements*/
section h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}

section p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    
}

section blockquote {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    
}

section:before,
section:after{
    content: "";
    display: table;
}
section:after{
    clear:both;
}


