@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  background: url("../img/dark-grungewall.png");
}

/*Navigation Bar*/
nav{
    background: rgba(84,84,84,0);
    width: 2em;
    
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    
    position: fixed;
    z-index: 1;
}

nav img{
    background: #e27827;
    border-radius: 50%;
    width: 1em;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}


/*Navigation List*/
nav ul li {
	display:inline-block;
	background-color: rgba(84,84,84,.5);
	}

nav a{
    display: block;
    padding: 0 .5em;
    line-height: 2em;
    color:#e27827;
}


/*Navigation Animations*/
nav a:link,
nav a:visited{
    color: #e27827;
    text-decoration: none;
    transition: color .25s;
    
}

nav a:target,
nav a:hover{
    background-color: rgba(84,84,84,1);
    color: #4bc3bf;
    transition: all .25s;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
	width:5em;
	float:none;
	display:list-item;
	position: relative;
}







/*Gallery*/
gallery {
    display: flex;
    flex-flow: row wrap;
}

/*Gallery Boxes*/
figure{
    background: #e27827;
    padding: 1em;
    flex: 1 0 80%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

/*Overlay*/
.overlay {
    display: none;
    
/*Overlay Style*/
    background: rgba(226, 120, 39, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*Overlay Show*/
.overlay:target {
    display: block;
    
    display: flex;
    position: fixed;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
}

/*Overlay Close Button*/
.overlay a {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-size: 2em;
}

.overlay img{
    
    width: 80%;
    max-width: 70%;
    
}

/*Section Styling*/
section {
    background: #DBDBDB;
    margin: 0 auto;
    width: 50%;
    border: .5em solid #e27827;
    padding: 1em;
    
    position: relative;
}

section img {
    float: right;
    width: 50%;
    margin: 1em;
}

/*Section Elements*/
section h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}

section p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    
}

section blockquote {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 2em;
    
}

section:before,
section:after{
    content: "";
    display: table;
}
section:after{
    clear:both;
}


form {
  width: 60%;
  background: #dbdbdb;
  padding: 1em;
  margin: 0 auto ;
  border: 1em solid #e27827;
  position: relative;
    
}

label, 
input,
textarea {
  font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
  display: block;
  margin: 1em;
    transition: all .25s;
}

/* Score: 0,0,1,1 */
input[type=submit] {
  background: #454545;
  border: 1em;
  border-radius: 4px;
  color: #e27827;
  padding: 1em;
}

input:focus, 
textarea:focus {
  background: #e27827;
  color: #454545;
  padding: 1em;
  outline: none;
}

